<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab" >
  <ul class="list-input settings-list" >
      <li class="field comp-setting-entry is-set" >
          <div class="wrapper-comp-setting" >
              <label class="label setting-label" for="display_type">Display Type</label >
              <select name="display_type" id="display_type">
                <option value="helpful"
                  {% if display_type == 'helpful' %}
                    selected
                  {% endif %}
                >
                  Was this helpful?</option>
                <option value="done"
                  {% if display_type == 'done' %}
                    selected
                  {% endif %}
                >
                  Mark as done
                </option>
              </select>
          </div >
      </li >
  </ul>
  <div class="xblock-actions" >
      <ul >
          <li class="action-item" >
              <a href="#" class="button action-primary save-button" >Save</a >
          </li >
          <li class="action-item" >
              <a href="#" class="button cancel-button" >Cancel</a >
          </li >
      </ul >
  </div >
</div >
